.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  background-color: #fcf9f8;
  margin: 0;
  padding: 0;
}

.nav-divider {
  width: 1px;
  height: 20px;
  background-color: #c1c6d7;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}